@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|ToggleButton#recordButton,
s|ToggleButton#playButton {
	horizontalCenter: 0;
	verticalCenter: 0;
}

#position,
mx|ProgressBar {
	verticalCenter: 0;
}

#saveButton {
	borderColor: #444444;
	color: #FFFFFF;
	up-color: #ffffff;
	fillAlphas: 0.6, 0.6, 0.6, 0.6;
	fillColors: #000000, #000000;
	icon: Embed(source="assets/circle.png");
}

.scrollBar {
	color: #f67c00;
	thumb-icon: Embed(source="assets/circle.png"); 
	thumb-up-skin: Embed(source="assets/circle.png"); 
	thumb-down-skin: Embed(source="assets/circle.png"); 
	thumb-over-skin: Embed(source="assets/circle.png"); 
}

#recordingStatus,
#videoControls {
	alpha: 1;
	backgroundAlpha: 0.6;
	backgroundColor: #000;
	borderColor: none;
	color: #fff;
	z: 10;	
}

#recordingStatus {
	padding: 10;
}

#videoControls {
	bottom: 0;
	backgroundAlpha: 0.6;
	backgroundColor: #000;
	left: 0;
	padding: 10;
	right: 0;
}

#playerRightControls {
	right: 10;
	verticalCenter: 0;
}

s|PopUpAnchor {
	backgroundColor: #000;
}

s|MuteButton {
	symbolColor: #e5e5e5;
}

mx|Text,
s|Button,
s|Label,
s|ToggleButton {
	color: #fff;
	fontName: Arial, Helvetica, sans-serif;
	fontSize: 13px;
	fontWeight: bold;
}

#timer{
	bottom: 10;
	verticalCenter: 0;
	right: 5;
}

mx|ToolTip {
	backgroundAlpha: 0.8;
	backgroundColor: #000;
	borderStyle: solid;
	color: white;
	cornerRadius: 5;
	fontFamily: Arial;
	font-size: 13;
}

mx|ProgressBar {
	verticalCenter: 0;
	left: 5;
}

#recordingStatus {
	left: 10;
	top: 10;
}